extends ../layout

block content
    div.app-news.common.clearfix
        div.news-left.news-left-detail
            if (news_detail_obj.img01)
                img.news-left-headimg(style="height: 300px;background: #25232b;",src=news_detail_obj.img01)
            div.news-left-title #{news_detail_obj.title}
            div.news-left-subtitle
                span.orange #{news_detail_obj.date}
                span.news-left-subtitle-span 责任编辑：
                span.orange 千乘影视
            div.news-left-con
                p !{news_detail_obj.content}
            if (news_detail_obj.img02)
                img.news-left-footimg(style="height: 200px;background: #25232b;",src=news_detail_obj.img02)
        div.news-right
            div.news-right-cla
                h3 新闻分类
                ul
                    each item in cla
                        li.news-right-cla-li
                            i.iconfont &#xe62b;
                            a #{item}
            div.news-right-new
                h3 最新新闻
                ul
                    each item in news_datail_arr
                        li
                            div
                                img.news-right-new-img(style="height: 150px;width: 150px;background: #25232b;",src=item.img04)
                            span #{item.title}
                