extends ../layout

block content
    div.app-wechat.clearfix
        div.app-wechat-header.common
        div.app-wechat-content.common
            div.app-wechat-content-typeb
            div.app-wechat-content-banner.mgr40
            div.app-wechat-content-typea-a.mgr40
                div.app-wechat-content-typea-img
                h3 #{data.typeA[0].title}
                div.app-wechat-content-typea-con #{data.typeA[0].con}
                div.orange #{data.typeA[0].date}
            div.app-wechat-content-typea-b.mgr40
                div.app-wechat-content-typea-img
                h3 #{data.typeA[1].title}
                div.app-wechat-content-typea-con #{data.typeA[1].con}
                div.orange #{data.typeA[1].date}
            div.app-wechat-content-imga.mgr40
            div.app-wechat-content-typea-c.mgr40
                div.app-wechat-content-typea-img
                h3 #{data.typeA[2].title}
                div.app-wechat-content-typea-con #{data.typeA[2].con}
                div.orange #{data.typeA[2].date}
            div.app-wechat-content-ewm.mgr40
            div.app-wechat-content-imgb.mgr40
            div.app-wechat-content-typea-d
                div.app-wechat-content-typea-img
                h3 #{data.typeA[0].title}
                div.app-wechat-content-typea-con #{data.typeA[0].con}
                div.orange #{data.typeA[0].date}
        