extends ../layout

block content
    div.app-works-detail
        div.common
            div.app-works-detail-a.clearfix
                div.app-works-detail-a-img
                    i
                div.app-works-detail-a-msg
                    h2.app-works-detail-a-msg-name #{data.workMessageData.name}
                    div.app-works-detail-a-msg-right
                        p 标签：#{data.workMessageData.tag}
                        p 出品人：#{data.workMessageData.producer}
                        p 编剧：#{data.workMessageData.scenario}
                        p 导演：#{data.workMessageData.director}
                        p 主演：#{data.workMessageData.starring}
                        p 制片人：#{data.workMessageData.filmer}
                        p 首播时间：#{data.workMessageData.time}
                    div.app-works-detail-a-msg-right
                        p 集数：#{data.workMessageData.num}集
                        p 每集长度：#{data.workMessageData.length}分钟                        
                        p 在线播放平台：#{data.workMessageData.platform}                        
                        p 原著：#{data.workMessageData.original}                        
                        p 作者：#{data.workMessageData.author}                        
                        p 播出平台：#{data.workMessageData.broadcasting}                        
            div.app-works-detail-b.clearfix
                div.app-works-detail-b-left
                    h3.orange 剧情简介：
                    div.app-works-detail-b-left-con #{data.introduction}
                div.app-works-detail-b-right
                    h3.orange 主演：
                    ul
                        each item in data.actorData
                            li.clearfix
                                i.app-works-detail-b-right-img
                                div.app-works-detail-b-right-text
                                    p.orange #{item.name}
                                    p.orange #{item.war}
                                    p 饰 #{item.role}
                                i.app-works-detail-b-right-img
            div.app-works-detail-c
                h3.orange 视频：
                ul.clearfix
                    li
                    li
                    li
            div.app-works-detail-c
                h3.orange 剧照：
                ul.clearfix
                    li
                    li
                    li
            
            
                